body {
    background-color: paleturquoise;
    margin: 0 auto;
    text-align: center;
    font-family: Tahoma;
}
h1 {
    font-size: 40px;
    text-shadow: 2px 2px 10px palegoldenrod;
}

 p {
     padding: 20px 0;
     line-height: 2;
 }

    